IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_mv90_data_hour_source_deal_header]') AND parent_object_id = OBJECT_ID(N'[dbo].[mv90_data_hour]'))
ALTER TABLE [dbo].[mv90_data_hour] DROP CONSTRAINT [FK_mv90_data_hour_source_deal_header]