/*
   Tuesday, March 24, 200911:45:24 AM
   Script generated by: Bikash Subba
 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.source_deal_detail_template
	DROP CONSTRAINT FK_source_deal_detail_template_source_deal_header_template
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_source_deal_detail_template
	(
	template_detail_id int NOT NULL IDENTITY (1, 1),
	leg int NULL,
	fixed_float_leg char(1) NULL,
	buy_sell_flag char(1) NULL,
	curve_type int NULL,
	curve_id int NULL,
	deal_volume_frequency char(1) NULL,
	deal_volume_uom_id int NULL,
	currency_id int NULL,
	block_description varchar(50) NULL,
	template_id int NULL,
	commodity_id int NULL,
	create_user varchar(50) NULL,
	create_ts datetime NULL,
	update_user varchar(50) NULL,
	update_ts datetime NULL,
	day_count int NULL,
	physical_financial_flag char(1) NULL,
	location_id int NULL,
	meter_id int NULL,
	strip_months_from tinyint NULL,
	lag_months tinyint NULL,
	strip_months_to tinyint NULL,
	conversion_factor float(53) NULL
	)  ON [PRIMARY]
GO
SET IDENTITY_INSERT dbo.Tmp_source_deal_detail_template ON
GO
IF EXISTS(SELECT * FROM dbo.source_deal_detail_template)
	 EXEC('INSERT INTO dbo.Tmp_source_deal_detail_template (template_detail_id, leg, fixed_float_leg, buy_sell_flag, curve_type, curve_id, deal_volume_frequency, deal_volume_uom_id, currency_id, block_description, template_id, commodity_id, create_user, create_ts, update_user, update_ts, day_count, physical_financial_flag, location_id, strip_months_from, lag_months, strip_months_to, conversion_factor)
		SELECT template_detail_id, leg, fixed_float_leg, buy_sell_flag, curve_type, curve_id, deal_volume_frequency, deal_volume_uom_id, currency_id, block_description, template_id, commodity_id, create_user, create_ts, update_user, update_ts, day_count, physical_financial_flag, location_id, strip_months_from, lag_months, strip_months_to, conversion_factor FROM dbo.source_deal_detail_template WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_source_deal_detail_template OFF
GO
DROP TABLE dbo.source_deal_detail_template
GO
EXECUTE sp_rename N'dbo.Tmp_source_deal_detail_template', N'source_deal_detail_template', 'OBJECT' 
GO
ALTER TABLE dbo.source_deal_detail_template ADD CONSTRAINT
	PK_source_deal_detail_template PRIMARY KEY CLUSTERED 
	(
	template_detail_id
	) WITH( PAD_INDEX = OFF, FILLFACTOR = 90, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.source_deal_detail_template WITH NOCHECK ADD CONSTRAINT
	FK_source_deal_detail_template_source_deal_header_template FOREIGN KEY
	(
	template_id
	) REFERENCES dbo.source_deal_header_template
	(
	template_id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
CREATE TRIGGER [TRGINS_SOURCE_DEAL_DETAIL_TEMPLATE]
ON dbo.source_deal_detail_template
FOR INSERT
AS
UPDATE SOURCE_DEAL_DETAIL_TEMPLATE SET create_user =  dbo.FNADBUser(), create_ts = getdate() where  SOURCE_DEAL_DETAIL_TEMPLATE.template_detail_id in (select template_detail_id from inserted)
GO
CREATE TRIGGER [TRGUPD_SOURCE_DEAL_DETAIL_TEMPLATE]
ON dbo.source_deal_detail_template
FOR UPDATE
AS
UPDATE SOURCE_DEAL_DETAIL_TEMPLATE SET update_user =  dbo.FNADBUser(), update_ts = getdate() where  SOURCE_DEAL_DETAIL_TEMPLATE.template_detail_id in (select template_detail_id from deleted)
GO
COMMIT
