SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID('[dbo].[TRGINS_FAS_STRATEGY]', 'TR') IS NOT NULL
    DROP TRIGGER [dbo].[TRGINS_FAS_STRATEGY]
GO

CREATE TRIGGER [dbo].[TRGINS_FAS_STRATEGY]
ON [dbo].[fas_strategy]
FOR  INSERT
AS
	INSERT INTO [fas_strategy_audit]
	  (
	    [fas_strategy_id],
	    [source_system_id],
	    [hedge_type_value_id],
	    [fx_hedge_flag],
	    [mes_gran_value_id],
	    [gl_grouping_value_id],
	    [no_links],
	    [no_links_fas_eff_test_profile_id],
	    [mes_cfv_value_id],
	    [mes_cfv_values_value_id],
	    [mismatch_tenor_value_id],
	    [strip_trans_value_id],
	    [asset_liab_calc_value_id],
	    [test_range_from],
	    [test_range_to],
	    [additional_test_range_from],
	    [additional_test_range_to],
	    [include_unlinked_hedges],
	    [include_unlinked_items],
	    [gl_number_id_st_asset],
	    [gl_number_id_st_liab],
	    [gl_number_id_lt_asset],
	    [gl_number_id_lt_liab],
	    [gl_number_id_item_st_asset],
	    [gl_number_id_item_st_liab],
	    [gl_number_id_item_lt_asset],
	    [gl_number_id_item_lt_liab],
	    [gl_number_id_aoci],
	    [gl_number_id_pnl],
	    [gl_number_id_set],
	    [gl_number_id_cash],
	    [oci_rollout_approach_value_id],
	    [additional_test_range_from2],
	    [additional_test_range_to2],
	    [gl_number_id_inventory],
	    [gl_number_id_expense],
	    [options_premium_approach],
	    [gl_number_id_gross_set],
	    [gl_id_amortization],
	    [gl_id_interest],
	    [base_year_from],
	    [base_year_to],
	    [subentity_name],
	    [subentity_desc],
	    [relationship_to_entity],
	    [distinct_estimation_method],
	    [distinct_output_metrics],
	    [distinct_foreign_country],
	    [primary_naics_code_id],
	    [secondary_naics_code_id],
	    [organization_boundary_id],
	    [sub_entity],
	    [rollout_per_type],
	    [first_day_pnl_threshold],
	    [gl_first_day_pnl],
	    [gl_id_st_tax_asset],
	    [gl_id_st_tax_liab],
	    [gl_id_lt_tax_asset],
	    [gl_id_lt_tax_liab],
	    [gl_id_tax_reserve],
	    [user_action],
	    [update_user],
	    [update_ts],
	    [gl_tenor_option],
	    [fun_cur_value_id]
	  )
	SELECT [fas_strategy_id],
	       [source_system_id],
	       [hedge_type_value_id],
	       [fx_hedge_flag],
	       [mes_gran_value_id],
	       [gl_grouping_value_id],
	       [no_links],
	       [no_links_fas_eff_test_profile_id],
	       [mes_cfv_value_id],
	       [mes_cfv_values_value_id],
	       [mismatch_tenor_value_id],
	       [strip_trans_value_id],
	       [asset_liab_calc_value_id],
	       [test_range_from],
	       [test_range_to],
	       [additional_test_range_from],
	       [additional_test_range_to],
	       [include_unlinked_hedges],
	       [include_unlinked_items],
	       [gl_number_id_st_asset],
	       [gl_number_id_st_liab],
	       [gl_number_id_lt_asset],
	       [gl_number_id_lt_liab],
	       [gl_number_id_item_st_asset],
	       [gl_number_id_item_st_liab],
	       [gl_number_id_item_lt_asset],
	       [gl_number_id_item_lt_liab],
	       [gl_number_id_aoci],
	       [gl_number_id_pnl],
	       [gl_number_id_set],
	       [gl_number_id_cash],
	       [oci_rollout_approach_value_id],
	       [additional_test_range_from2],
	       [additional_test_range_to2],
	       [gl_number_id_inventory],
	       [gl_number_id_expense],
	       [options_premium_approach],
	       [gl_number_id_gross_set],
	       [gl_id_amortization],
	       [gl_id_interest],
	       [base_year_from],
	       [base_year_to],
	       [subentity_name],
	       [subentity_desc],
	       [relationship_to_entity],
	       [distinct_estimation_method],
	       [distinct_output_metrics],
	       [distinct_foreign_country],
	       [primary_naics_code_id],
	       [secondary_naics_code_id],
	       [organization_boundary_id],
	       [sub_entity],
	       [rollout_per_type],
	       [first_day_pnl_threshold],
	       [gl_first_day_pnl],
	       [gl_id_st_tax_asset],
	       [gl_id_st_tax_liab],
	       [gl_id_lt_tax_asset],
	       [gl_id_lt_tax_liab],
	       [gl_id_tax_reserve],
	       'insert',
	       dbo.FNADBUser(),
	       GETDATE(),
	       [gl_tenor_option],
	       [fun_cur_value_id]
	FROM   INSERTED
	

	

	


