/*
Script Generated By : Pawan KC
Purpose:As Directed in the Issue Changed list As of Date 03/19/2009
DROP TABLE major_location_detail
*/

IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_major_location_detail_contract_group]') AND parent_object_id = OBJECT_ID(N'[dbo].[major_location_detail]'))
ALTER TABLE [dbo].[major_location_detail] DROP CONSTRAINT [FK_major_location_detail_contract_group]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_major_location_detail_source_major_location]') AND parent_object_id = OBJECT_ID(N'[dbo].[major_location_detail]'))
ALTER TABLE [dbo].[major_location_detail] DROP CONSTRAINT [FK_major_location_detail_source_major_location]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_major_location_detail_source_uom]') AND parent_object_id = OBJECT_ID(N'[dbo].[major_location_detail]'))
ALTER TABLE [dbo].[major_location_detail] DROP CONSTRAINT [FK_major_location_detail_source_uom]
GO

/****** Object:  Table [dbo].[major_location_detail]    Script Date: 03/20/2009 17:43:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[major_location_detail]') AND type in (N'U'))
DROP TABLE [dbo].[major_location_detail]


--FOR Back Up:
/****** Object:  Table [dbo].[major_location_detail]    Script Date: 03/20/2009 17:45:58 ******/
/*
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[major_location_detail](
	[major_location_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[major_location_id] [int] NOT NULL,
	[owner] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[operator] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[counterparty] [int] NOT NULL,
	[contract] [int] NOT NULL,
	[volume] [float] NULL,
	[uom] [int] NULL,
 CONSTRAINT [PK_major_location_detail] PRIMARY KEY CLUSTERED 
(
	[major_location_detail_id] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [TRMTracker2_1]
GO
ALTER TABLE [dbo].[major_location_detail]  WITH CHECK ADD  CONSTRAINT [FK_major_location_detail_contract_group] FOREIGN KEY([contract])
REFERENCES [dbo].[contract_group] ([contract_id])
GO
ALTER TABLE [dbo].[major_location_detail]  WITH CHECK ADD  CONSTRAINT [FK_major_location_detail_source_major_location] FOREIGN KEY([major_location_detail_id])
REFERENCES [dbo].[source_major_location] ([source_major_location_ID])
GO
ALTER TABLE [dbo].[major_location_detail]  WITH CHECK ADD  CONSTRAINT [FK_major_location_detail_source_uom] FOREIGN KEY([uom])
REFERENCES [dbo].[source_uom] ([source_uom_id])
*/