IF NOT EXISTS(SELECT 1 FROM application_functions WHERE function_id = 10104813)
BEGIN
 	INSERT INTO application_functions(function_id, function_name, function_desc, func_ref_id, function_call)
	VALUES (10104813, 'Data Import\Export Copy', 'Data Import\Export copy', 10104800, NULL)
 	PRINT ' Inserted 10104813 - Data Import\Export Copy.'
END
ELSE
BEGIN
	PRINT 'Application FunctionID 10104813 - Data Import\Export Copy already EXISTS.'
END
