<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="http to https" />
                <rule name="http to https" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <serverVariables />
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
                <rule name="RESTAPI requesttoken">
                    <match url="api/requesttoken$" />
                    <action type="Rewrite" url="api/index.php?route=requesttoken" appendQueryString="false" logRewrittenUrl="true" />
                </rule>
                <rule name="RESTAPI getimportfunctionlist">
                    <match url="api/getimportfunctionlist$" />
                    <action type="Rewrite" url="api/index.php?route=getimportfunctionlist" appendQueryString="false" logRewrittenUrl="true" />
                </rule>
                <rule name="RESTAPI getimportformat">
                    <match url="api/getimportformat$" />
                    <action type="Rewrite" url="api/index.php?route=getimportformat" appendQueryString="false" logRewrittenUrl="true" />
                </rule>
                <rule name="RESTAPI getimportstatus">
                    <match url="api/getimportstatus$" />
                    <action type="Rewrite" url="api/index.php?route=getimportstatus" appendQueryString="false" logRewrittenUrl="true" />
                </rule>
                <rule name="RESTAPI getreportlist">
                    <match url="api/getreportlist$" />
                    <action type="Rewrite" url="api/index.php?route=getreportlist" appendQueryString="false" logRewrittenUrl="true" />
                </rule>
                <rule name="RESTAPI getreportparameter">
                    <match url="api/getreportparameter$" />
                    <action type="Rewrite" url="api/index.php?route=getreportparameter" appendQueryString="false" logRewrittenUrl="true" />
                </rule>
                <rule name="RESTAPI getreportdata">
                    <match url="api/getreportdata$" />
                    <action type="Rewrite" url="api/index.php?route=getreportdata" appendQueryString="false" logRewrittenUrl="true" />
                </rule>
                <rule name="RESTAPI importdata">
                    <match url="api/importdata$" />
                    <action type="Rewrite" url="api/index.php?route=importdata" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
                <requestLimits maxQueryString="8096" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
