<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ssrs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ssrs.Properties.Settings>
            <setting name="ssrs_ReportService2005_ReportingService2005" serializeAs="String">
                <value>http://192.168.80.51:80/ReportServer_INSTANCE2012/ReportService2005.asmx</value>
            </setting>
            <setting name="ssrs_ReportExecution2005_ReportExecutionService" serializeAs="String">
                <value>http://192.168.80.51:80/ReportServer_INSTANCE2012/ReportExecution2005.asmx</value>
            </setting>
        </ssrs.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
