
@font-face{
    font-family: "montserrat";
    src: url('fonts/Montserrat-Regular.ttf'),
	url('fonts/Montserrat-Regular.eot'); /* IE */
}

@font-face {
	font-family: "ubuntu";
    src: url('fonts/Ubuntu_regular.ttf'),	
}

/* line 8, ../sass/patch.scss */
.mont-fonts, .title, .form-signin .btn-lg {
  font-family: 'montserrat';
}

body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #333;
}
.form-signin {
	max-width: 490px;
	margin: 100px auto 0;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px -1px 24px -3px rgba(235,228,235,1);
	-moz-box-shadow: 0px -1px 24px -3px rgba(235,228,235,1);
	box-shadow: 0px -1px 24px -3px rgba(235,228,235,1);
}
.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 8px 0px 8px 45px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: 15px;
	border-radius: 4px;/*border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;*/
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-radius: 4px;/* border-top-left-radius: 0;
  border-top-right-radius: 0;*/
}
/*New CSS added*/
.title {
	font: 700 24px/18px "Open Sans", Arial, Helvetica, sans-serif;
	font-style: italic;
	height: 65px;
	border-radius: 4px 4px 0 0;
	color: #fff;
	text-shadow: 2px 2px #333;
	padding: 25px 0px 0 20px;
	background: #34495e; /* Old browsers */
	background: -moz-linear-gradient(top, #34495e 0%, #32475c 44%, #324458 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #34495e), color-stop(44%, #32475c), color-stop(100%, #324458)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #34495e 0%, #32475c 44%, #324458 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #34495e 0%, #32475c 44%, #324458 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #34495e 0%, #32475c 44%, #324458 100%); /* IE10+ */
	background: linear-gradient(to bottom, #34495e 0%, #32475c 44%, #324458 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34495e', endColorstr='#324458', GradientType=0 ); /* IE6-9 */
}
.form_title {
	font: 600 14px/32px 'Open Sans', Arial, Helvetica, sans-serif;
	color: #5e8bb8;
}
.form_container {
	background: #f7f7f7;
	padding: 15px;
	height: 375px;
	border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	border: 2px solid #2f4457;
}
.banner_img {
	margin-bottom: 10px;
}
.btn-block {
	width: 25%!important;
	font: 600 20px/32px 'Open Sans', Arial, Helvetica, sans-serif!important;
	color: #fff;
}
.us_img {
	background: url(../adiha.login.screen/img/use-icon.png) 0 1px no-repeat;
}
.pw_img {
	background: url(../adiha.login.screen/img/password_icon.png) 0 1px no-repeat;
}
.alert_access {
	font: 13px/18px 'Open Sans', Arial, Helvetica, sans-serif;
	color: #023361;
	width: 200px;
	float: left
}
.alert_uat {
	font: 13px/18px 'Open Sans', Arial, Helvetica, sans-serif;
	color: #023361;
	width: 75px;
	float: right;
}
.footer {
	background: #f7f7f7;
	border-top: 1px solid #d7d7d7;
	margin: 30px 0 0 0;
}
.logo {
	float: right;
	padding: 10px 0px 10px 10px;
}
.btn-login {
	color: #fff;
	background-color: #33485d;
	border-color: #1e2f41;
}
.btn-login.active, .btn-login.focus, .btn-login:active, .btn-login:focus, .btn-login:hover, .open>.dropdown-toggle.btn-login {
	color: #fff;
	background-color: #40566c;
	border-color: #204d74; outline:none;
}

.btn-group-lg > .btn, .btn-lg { padding: 8px 16px!important;}




/* line 14, ../sass/patch.scss */
body {
  /*background : url(http://subtlepatterns.com/patterns/dark_exa.png);*/
  background: #f2f2f2;
}

/* line 19, ../sass/patch.scss */
.title {
  background: transparent;
  text-shadow: none;
  text-align: center;
  font-style: normal;  
  font-weight: 400;
  color: #6C6C6C;
}

/* line 33, ../sass/patch.scss */
*:not(i) {
  font-family: Montserrat !important;
}

/* line 38, ../sass/patch.scss */
.form-signin {
  box-shadow: none;
  background: transparent;
  width: 420px;
}
/* line 44, ../sass/patch.scss */
.form-signin .btn-lg {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  background: #3498db;
  font-weight: 400;
  padding: 6px 0 !important;
  border-radius: 4px;
  font-size: 17px !important;
}
/* line 56, ../sass/patch.scss */
.form-signin .btn-lg.btn-login {
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: #3FC380 !important;
  border-color: #2BA065 !important;outline:none!important;
}
/* line 64, ../sass/patch.scss */
.form-signin .btn-lg.btn-block {
  width: 30% !important;
}
/* line 67, ../sass/patch.scss */
.form-signin .btn-lg:hover {
  background-color: #3FC380 !important;
  border-color: #2BA065 !important;
}
/* line 73, ../sass/patch.scss */
.form-signin .alert_access {
  text-align: center;
  width: 100%;
  display: inline-block;
  line-height: 15px;
}

/* line 78, ../sass/patch.scss */
.form-signin .form-control {
  text-align: center;
  padding: 8px 0;
  margin: 9px 0;
}
/* line 83, ../sass/patch.scss */
.form-signin .form_container {
  border: 1px solid #E4E2E2;
  border-radius: 4px;
  /*height: 295px;*/
  text-align: center;
  box-shadow: 0px -1px 24px -3px rgba(100, 100, 100, 0.2);
  padding: 50px;
  margin-top: 20px;
}
/* line 92, ../sass/patch.scss */
.form-signin .form_container .form_title {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'montserrat';
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}
/* line 102, ../sass/patch.scss */
.form-signin .form_container #inputEmail {
  display: inline-block;
  margin-bottom: 20px;
}
/* line 109, ../sass/patch.scss */
.form-signin .checkbox {
  margin: 14px 0;
}

/* line 114, ../sass/patch.scss */
.footer {
  text-align: center;
  background: transparent;
  border: none;
  margin-top: 50px;
}
/* line 119, ../sass/patch.scss */
.footer img {
  display: inline-block;
  float: none;
}

/* line 213, ../sass/patch.scss */
#logo {
  font-style: normal;
  text-transform: uppercase;
  font-size: 18px;
  padding: 14px;
  display: inline-block;
  width: 300px !important;
}

.form-signin,#loginform{
  	margin-top:20px !important;
  }
 
  /* new CSS for account recovery */
.modal-title, .modal-footer {
	font-family: "ubuntu", Arial, Helvetica, sans-serif!important;
}

.modal-title{
	font-size: 16px;
	font-weight: 400;
	color: #444;
  }

.form_title {
	font-size: 14px;
	font-weight: 400;
	color: #444; 
}

.btn-default {
	background-color:#2ba065;
	color: #fff;
	border-style: none!important;
	font-size: 1em;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #1c6842;
	border-color: #1c6842;
	border-style: none!important;
}

.error-message {
	font-size: 0.9em;
	color: #333;
	width: 370px!important;
	text-align: justify;
}

.error-message span {
	color: red;
	font-family: "Open Sans", sans-serif !important;
}